@font-face {
  font-family: "vazir";
  src: url(../font/Vazir-Medium.ttf) format(truetype);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "vazir";
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
  flex-direction: column;
  background-color: $whole-bg;
}
a {
  all: unset;
  cursor: pointer;
}
img {
  width: 100%;
}
